.selection-button {
	font-family: 'Raleway', sans-serif;
    font-size: 17px;
	background:transparent;
	border:none;
	color:#2795d7;
	padding:10px;
	border-radius:3px;
	border:1px solid #2795d7;	
	cursor:pointer;
	transition: 0.4s 0s all ease;

	&:hover {
		background:#2795d7;
		color:white;
	}

	&.active {
		background:#2795d7;
		color:white;		
	}
}

.selections {
	button {
		margin-right:5px;
		margin-bottom:5px;		
		min-width:200px;
	}
}


.attention-sign {
	position:relative;
	left:-15px;
	color: rgba(242, 53, 44, 1);
	font-weight: bold;
}