/* Buy section */

.section_buy{

	.feature-list {
		color:white;
	}

	padding-top:170px;
	.bgr('buy_big_img.jpg', top, center, no-repeat, #f5f5f5);
    background-size: 100% auto;
	.main_title{

		.fsize(39px);
		color:#343434;
		font-weight: 700;
		@media @desktop1680{.fsize(33px);.lheight(38px);}
		@media @desktop1440{.fsize(33px);.lheight(32px);}
		@media @desktop1280{.fsize(24px);.lheight(29px);}
		@media @mobile{.fsize(20px);.lheight(26px);}
		@media @mobile768{.fsize(19px);.lheight(24px);}
		@media @mobile640{.fsize(16px);.lheight(22px);}
		@media @mobile480{.fsize(15px);.lheight(22px);}
	}



	.list_users{
		width:100%;
		margin-top:0;
		@media @mobile768{padding-top:0px;}
	}
	.list_users .user_box{
		width:auto;
		float:none;
		margin:0 auto;
	}

	.list_users .name_user{

		font-weight: 700;
		font-style:italic;
		font-size:16px;
	}
	.vat{
		margin-bottom: 25px;

		@media @mobile640{.fsize(13px)}
	}
	
	.likes{

		margin:40px 0 20px auto; 
		cursor: pointer;
		.icon,.count{
			line-height: 30px;
			.family(@rl);
			.fsize(16px);
			font-weight: 600;
			padding-left: 10px;
		}

		text-align: left;
		width: 90px;
		height: 30px;
		border-radius: 5px;
		.bgc(#2795d7);
		right: 0;
		color:#fff;

		@media @mobile768{margin:40px auto 20px;}
	}

	.grid-3 .start_up_apply{
		margin:0;

		@media @mobile768{margin:0 auto 30px;}
	}

	.grid-2-simple .start_up_apply{

		@media @mobile768{margin:0 auto 30px;}
	}

	.grid-1 .start_up_apply{
		@media @mobile768{margin:0 auto;}
	}

	.start_up_apply .blue_box{
		
		padding:0;		
	}

	.start_up_apply .st_heading{
		text-align:center;
		padding:30px 50px;
		margin-bottom:0;
		font-size: 30px;
		/*@media @desktop1440{padding:30px 20px}*/
	}

	.start_up_apply .sub_heading{
		padding:15px 30px;
		.bgc(#2793d4);
		font-weight:600;
		.fsize(22px);
		.lheight(30px);
		.family(@rl);
		@media @desktop1440{.fsize(19px);.lheight(27px)}
		@media @desktop1280{.fsize(16px);.lheight(24px)}
		@media @mobile{.fsize(15px);.lheight(22px)}

		&.invert {
			.bgc(#fff);
			color:#2793D4;
		}

		&.fw-normal {
			font-weight: normal;			
		}
	}

	.start_up_apply .small_text{
		font-weight: 600;
		.fsize(14px);
		color:rgba(242, 53, 44, 1);
		.family(@rl);
		.lheight(20px);
		margin-top:8px;
	}

	.alert_limited {
		color: rgba(242, 53, 44, 1);
	}	

	.wrapp_main_text{
		@media @desktop1680{max-width: 640px}
	}

	@media @desktop1680{padding-top:100px}
}

.wrap_buy,.wrap_buy-1,.wrap_buy-2,.wrap_buy-3.wrap_header_buy{
	max-width: 1253px;
	margin:0 auto;
}

.wrap_buy-3{
	max-width: 1253px;
}

.wrap_buy-2{
	max-width: 823px;
}

.wrap_buy-1{
	max-width: 405px;
}


.back_link{

	font-weight: 500;
	.icon{

		top:4px;
		left:0;
		.fsize(22px);
		margin-right:10px;
		.animate(.4s,all);
	}

	&:hover{.icon{left:6px;}}
}

.popups_container{
	position:fixed;
	right: 30px;
	top: 105px;
}

.popup{
	width: 250px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding:30px 25px;
	height: 90px;
	color:#fff;
	line-height: 18px;
	.fsize(14px);
	.family(@rl);
	font-weight: 500;
	background: rgba(0, 0, 0, 0.5);
    border-radius:10px;

	&.popup_like{
		.abs;
		left:-101px;
		top:-106px;
	}

	@media @mobile{
	
		&.popup_desktop{
			&.inactive{
				display: none;
			}
		}
		&.popup_like{left:auto;right:0;}
	}

	@media @mobile768{
		
		&.popup_like{left:-84px;right:auto;}
	}
}

.close_popup{
	position: absolute;
	top:10px;
	right: 10px;
	width: 15px;
	cursor: pointer;
	height: 15px;

	&:before,&:after{
	    content:'';
	    position:absolute;
	    width:13px;
	    height:1px;
	    background-color:white;
	    top:7px;
	}

	&:before{
	   .rotate(45deg);
	    left:0px;
	}
	&:after{
	    .rotate(-45deg);
	    right:2px;
	}
}

.dsp-none{
	display: none;
}
.promotional_code{
	width: 100%;
	padding:40px 0;

	&.grey{
		background: #e9e9e9;
	}
	.booking{
		.family(@rl);
		color:#353535;
		.fsize(24px);
		font-weight: 400;
		@media @desktop1280{.fsize(22px);}
		@media @mobile{.fsize(20px);}
		@media @mobile640{.fsize(16px);}
		
	}
	.data{
		color:rgba(242, 53, 44, 1);
		font-weight: bold;
		//.fsize(36px);
		@media @desktop1280{.fsize(31px);}
		@media @mobile{.fsize(28px);}
		@media @mobile640{.fsize(20px);}
	}
	input{
		border:1px solid #bcbcbc;
		border-radius: 3px;
		padding:0 20px;
		font-weight: 500;
		height: 45px;
		.lheight(45px);
		color: #cacaca;
		max-width: 375px;
		width: 100%;
		display: inline-block;
		font-size: 14px;
		margin-right: 12px;
		@media @mobile640{
            .block;
            margin:0 auto 20px;
        }
	}
	.button{
		max-width: 120px;
		display: inline-block;
		height: 45px;
		line-height: 45px;
	}

	@media @mobile640{padding:20px}
}
.students_buy_form{
	max-width: 620px;
	margin:0 auto;
	@media @desktop1024{
		max-width: 100%;
	}
}