.cluster_icon_top {
    @media @mobile480 {
        bottom:46% !important;
    }
}
.list_users-cluster-curator {
    text-align:center; 
    height:230px; 
    margin-top:20px !important;
}

.user_box-cluster-curator {
    float:none !important; 
    margin:0 auto;  
    width:35% !important;
}
.section_divider-cluster {
    margin-top:90px;
    margin-bottom:90px;
}

.purple {color:@cluster_purple !important;}
.light-purple {background:@cluster_purple-background !important;}
.section_divider-cluster.purple {border-bottom: 1px solid @cluster_purple;}

.green {color:@cluster_green !important;}
.light-green {background:@cluster_green-background !important;}
.section_divider-cluster.green {border-bottom: 1px solid @cluster_green; }

.commerceorange {color:@cluster_commerceorange !important;}
.light-commerceorange {background:@cluster_commerceorange-background !important;}
.section_divider-cluster.commerceorange {border-bottom: 1px solid @cluster_commerceorange; }

.pink {color:@cluster_pink !important;}
.light-pink {background:@cluster_pink-background !important;}
.section_divider-cluster.pink {border-bottom: 1px solid @cluster_pink;}

.mobileorange {color:@cluster_mobileorange !important;}
.light-mobileorange {background:@cluster_mobileorange-background !important;}
.section_divider-cluster.mobileorange {border-bottom: 1px solid @cluster_mobileorange;}

.darkgreen {color:@cluster_darkgreen !important;}
.light-darkgreen {background:@cluster_darkgreen-background !important;}
.section_divider-cluster.darkgreen {border-bottom: 1px solid @cluster_darkgreen;}

.wrapp_main_text-cluster-logo {
    width:27%;
    @media @mobile{width:30%;}
    @media @mobile768 {width:30%;}
    @media @mobile760 {width:50%;}
    @media @mobile640 {width:60%;}
    @media @mobile480 {width:90%;}
}
.wbox-cluster {
    background:transparent !important;
    @media @mobile768 {
        padding-top:170px !important;
    }
}
.descr-cluster {
    width:50%;
    text-align:left;
    margin:0 auto;
}
.section-cluster {
    min-height: 0px; 
    padding-bottom:0;
}
#cluster_bottom .button.orange {
//    border:2px solid #ea5c37;
}
#cluster_bottom .button.orange:hover {
    cursor: pointer;
//    background: none;
//    color: #ea5c37;
}