@font-face {
    font-family: 'bandp';
    src:    url('fonts/bandp.eot?ivmbnc');
    src:    url('fonts/bandp.eot?ivmbnc#iefix') format('embedded-opentype'),
        url('fonts/bandp.ttf?ivmbnc') format('truetype'),
        url('fonts/bandp.woff?ivmbnc') format('woff'),
        url('fonts/bandp.svg?ivmbnc#bandp') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bandp' !important;
    //speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\e900";
}
.icon-arrow_left:before {
    content: "\e600";
}
.icon-arrow_right:before {
    content: "\e601";
}
.icon-close:before {
    content: "\e801";
}
