* {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

/* Site specific styles below */

html {-webkit-overflow-scrolling: touch;scroll-behavior: smooth;}
html,body {width:100%;margin:0;padding:0;}
//html.mobile,html.mobile body{overflow-x:hidden;}
body{font-family:@rl;font-size:17px;position: relative;}
h1, h2, h3, h4, h5, h6{font-family: @rl;margin:0;padding:0;}
a {color:@fff;}
a,a:hover{text-decoration:none}
a:focus{outline:none;}
a,a:focus,a:hover, a:active,a:visited{outline:none;text-decoration:none;}
a:visited{text-decoration:none;}
a img {border:0 none;}
ul, li{list-style-type:none}
select, input, textarea{font-family: @rl;resize:none;outline:none;border:none;background:none;border-radius:0;outline:none}
input[type="checkbox"],input[type="radio"]{box-sizing: border-box;display: none;}
header, nav, div, footer, span, section, input, fieldset, textarea, a, p{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
img{margin:0;padding:0;border: 0;vertical-align: middle;}


@fff:          #fff;
@blue:         #005690;
@f3:           #f3f3f3;
@ce:           #cecece;
@dark_silver:  #353535;
@light_blue:   #0094d4;
@red:          #ea5c3f;
@7a:           #7a7a7a;
@transp: transparent;

/*Cluster*/

// E-Commerce
@cluster_commerceorange:    #f1a237;
@cluster_commerceorange-background:    rgba(241, 162, 55, 0.06);

// Fast Mobility
@cluster_mobileorange:    #e65a33;
@cluster_mobileorange-background:    rgba(230, 90, 51, 0.06);

// Hot Lifestyle
@cluster_pink:    #eb0066;
@cluster_pink-background:    rgba(235, 0, 102, 0.03);

//IoT
@cluster_purple:    #4e3e88;                                     
@cluster_purple-background:    rgba(78, 62, 136, 0.03);

// Smart Company
@cluster_green:    #0d4226;
@cluster_green-background:    rgba(13, 66, 38, 0.03);

// Big Money
@cluster_darkgreen:    #006764;
@cluster_darkgreen-background:    rgba(0, 103, 100, 0.03);

/* Fonts */
@rl: 'Raleway', sans-serif;


/*Max-Width*/
@desktop1680:  ~"only screen and (max-width:1680px)";
@desktop1440:  ~"only screen and (max-width:1440px)";
@desktop1366:  ~"only screen and (max-width:1366px)";
@desktop1280:  ~"only screen and (max-width:1280px)";
@desktop1024:  ~"only screen and (max-width:1025px)";
@mobile:  ~"only screen and (max-width:1024px)";
@mobile940:  ~"only screen and (max-width:940px)";
@mobile768:  ~"only screen and (max-width:768px)";
@mobile760:  ~"only screen and (max-width:760px)";
@mobile738:  ~"only screen and (max-width:738px)";
@mobile640:  ~"only screen and (max-width:640px)";
@mobile480:  ~"only screen and (max-width:480px)";
@mobile480_h:  ~"only screen and (max-height:480px)";
@mobile414:  ~"only screen and (max-width:414px)";
@mobile375:  ~"only screen and (max-width:375px)";
@mobile320:  ~"only screen and (max-width:320px)";

/*Min-Width*/
@min1920:  ~"only screen and (min-width:1920px)";
@min2580:  ~"only screen and (min-width:2580px)";
@min1025: ~"only screen and (min-width:1025px)";
@min769: ~"only screen and (min-width:769px)";
@desktop1024min:  ~"only screen and (min-width:1024px)";
@mobile640min:  ~"only screen and (min-width:641px)";

.ul-reset{margin:0;padding:0; li {list-style-type:none}}
.abs{position: absolute;}
.fixed{position: fixed}
.relative{position: relative;}
.block {display: block;}
.none{display: none}
.ov-hidden {overflow: hidden;}
.ov-visible {overflow: visible;}
.center {text-align: center}
.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}
.case {text-transform: none;}
.italic {font-style:italic;}
.bold{font-weight: bold;}
.fsize(@size:12px) {font-size:@size;}
.lheight(@lineheight:12px) {line-height:@lineheight;}
.indent(@indentation:-99999px){text-indent: @indentation}
.family(@font) {font-family: @font;}
.last{margin-right: 0}
.underline{text-decoration: underline;}

.hidden {display: none;}
.pull-left{float:left}
.pull-right{float:right}
.text-pull-right{text-align: right;}
.clear{clear:both}
.clear-fix{height:0px;overflow:hidden;line-height:0px;font-size:0px;clear:both}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1.0; }

.w100 {width:100%}
.w75 {width:75%}
.w50 {width:50%}
.w25 {width:25%}

.animate(@time:.4s, @prop, @delay:0s, @function:ease) {
	-webkit-transition: @time @delay @prop @function;
	-ms-transition: @time @delay @prop @function;
	-o-transition: @time @delay @prop @function;
	transition: @time @delay @prop @function;
}

.animate_no{
	-webkit-transition:none;
	   -moz-transition:none;
	    -ms-transition:none;
	     -o-transition:none;
	        transition:none;
}

.bgr(@path, @left:0, @top:0, @repeat: no-repeat, @color : transparent) {
	background:@color url("../images/@{path}") @repeat @left @top;
}

.bgc(@color: transparent) {
	background-color:@color;
}

.nobg{
	background:none @transp;
}

.box(@width, @height){
	width:@width;
	height: @height;
}

.abs-center(@width, @height){
	.abs;
	left:50%;
	top:50%;
	width:@width;
	height:@height;
	margin-left: -@width*.5;
	margin-top: -@height*.5;
}

.list {
	list-style-type: none;
	padding:0;
	margin:0;
}

.round(@radius: 40px) {
	border-radius: @radius;
}

.rotate(@deg) {
	-webkit-transform:rotate(@deg);
	   -moz-transform:rotate(@deg);
		-ms-transform:rotate(@deg);
			transform:rotate(@deg);
}

.rotateZ(@deg) {
	-webkit-transform:rotate3d(1,0,0,@deg);
	   -moz-transform:rotate3d(1,0,0,@deg);
		-ms-transform:rotate3d(1,0,0,@deg);
			transform:rotate3d(1,0,0,@deg);
}

.rotate_translate(@deg,@offset-x,@offset-y) {
	-webkit-transform:rotate(@deg) translateX(@offset-x) translateY(@offset-y);
	   -moz-transform:rotate(@deg) translateX(@offset-x) translateY(@offset-y);
		-ms-transform:rotate(@deg) translateX(@offset-x) translateY(@offset-y);
			transform:rotate(@deg) translateX(@offset-x) translateY(@offset-y);
}

.scale(@ratio) {
	-webkit-transform: scale(@ratio);
	-moz-transform: scale(@ratio);
	-o-transform: scale(@ratio);
	-ms-transform: scale(@ratio);
	transform: scale(@ratio);
}

.fit {
	width:100%;
	height:100%;
}
.wrap {
	margin:0;
	padding:0;
}

.tr-origin(@x:50%, @y:0, @z:0) {
	-webkit-transform-origin:@x @y @z;
	-moz-transform-origin:@x @y @z;
	-ms-transform-origin:@x @y;
	-o-transform-origin:@x @y;
	transform-origin:@x @y @z;
}

.x(@offset:0px) {
	-webkit-transform : translateX(@offset);
	-o-transform : translateX(@offset);
	-ms-transform : translateX(@offset);
	transform : translateX(@offset);
}

.z(@radio:1000px,@offset:0px,@ie:0%) {
	-webkit-transform :perspective(@radio) translateZ(@offset);
	-o-transform :perspective(@radio) translateZ(@offset);
	-ms-transform :perspective(@radio) translateZ(@offset);
	-moz-transform :perspective(@radio) translateZ(@offset);
	transform :perspective(@radio) translateZ(@offset);
}

.transform_no{
	-webkit-transform :none;
	-o-transform :none;
	-ms-transform :none;
	-moz-transform :none;
	transform :none;
}

.y(@offset:0px) {
	-webkit-transform : translateY(@offset);
	-o-transform : translateY(@offset);
	-ms-transform : translateY(@offset);
	transform : translateY(@offset);
}
.xy(@offset-x:0px,@offset-y:0px) {
	-webkit-transform : translateX(@offset-x) translateY(@offset-y);
	-o-transform : translateX(@offset-x) translateY(@offset-y);
	-ms-transform : translateX(@offset-x) translateY(@offset-y);
	transform : translateX(@offset-x) translateY(@offset-y);
}
.3d(@offset-x:0px,@offset-y:0px,@offset-z:0px) {
	-webkit-transform : translate3d(@offset-x,@offset-y,@offset-z);
	-o-transform : translate3d(@offset-x,@offset-y,@offset-z);
	-ms-transform : translate3d(@offset-x,@offset-y,@offset-z);
	transform : translate3d(@offset-x,@offset-y,@offset-z);
}

.matrix(@p1:0,@p2:0,@p3:0,@p4:0,@p5:0,@p6:0){

	-webkit-transform: matrix(@p1,@p2,@p3,@p4,@p5,@p6);
	   -moz-transform: matrix(@p1,@p2,@p3,@p4,@p5,@p6);
	    -ms-transform: matrix(@p1,@p2,@p3,@p4,@p5,@p6);
	     -o-transform: matrix(@p1,@p2,@p3,@p4,@p5,@p6);
	        transform: matrix(@p1,@p2,@p3,@p4,@p5,@p6);
}

.gradient-top-bot(@topcolor,@botcolor){
	background: @topcolor;
	background: -moz-linear-gradient(top, @topcolor 0%, @botcolor 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@topcolor), color-stop(50%,@botcolor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @topcolor 0%,@botcolor 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,@topcolor 0%,@botcolor 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @topcolor 0%,@botcolor 50%); /* IE10+ */
	background: linear-gradient(to bottom, @topcolor 0%,@botcolor 50%); /* W3C */
}
.gradient-horizontal(@leftcolor,@rightcolor){
	background: @leftcolor; /* Old browsers */
	background: -moz-linear-gradient(left,  @leftcolor 0%, @rightcolor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,@leftcolor), color-stop(100%,@rightcolor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  @leftcolor 0%,@rightcolor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  @leftcolor 0%,@rightcolor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  @leftcolor 0%,@rightcolor 100%); /* IE10+ */
	background: linear-gradient(to right, @leftcolor 0%,@rightcolor 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@leftcolor', endColorstr='@rightcolor',GradientType=1 ); /* IE6-9 */
}
.glr(@leftcolor,@rightcolor,@midcolor){
	background: -moz-linear-gradient(39deg,  @leftcolor 0%, @midcolor 20%, @rightcolor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,@leftcolor), color-stop(10%,@midcolor), color-stop(100%,@rightcolor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(39deg,  @leftcolor 0%,@midcolor 10%,@rightcolor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(39deg,  @leftcolor 0%,@midcolor 10%,@rightcolor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(39deg,  @leftcolor 0%,@midcolor 10%,@rightcolor 100%); /* IE10+ */
	background: linear-gradient(39deg,  @leftcolor 0%,@midcolor 10%,@rightcolor 100%); /* W3C */
}
.gradient-left-right(@leftcolor,@rightcolor,@midcolor){
	background: @leftcolor; /* Old browsers */
	.glr(@leftcolor, @rightcolor, @midcolor)
}
.table {
	display: table;

	.row {
		display: table-row;
		height: 100%;
		width: 100%;
          &:after {
            content: "";
            display: table;
            clear: both;
          }
	}
}

@media @mobile414 {
	.grid {
		&.pp {
			width: 87%;
	    position: relative;
	    left: -4%;
			.valign {
				display: inherit;
				.imprint {
					width: 65%;
				}
			}
		}
	}
}
@media @mobile375 {
	.grid {
		&.pp {
			width: 78%;
	    position: relative;
	    left: -9%;
			.valign {
				display: inherit;
				.imprint {
					width: 65%;
				}
			}
		}
	}
}
@media @mobile320 {
	.grid {
		&.pp {
			width: 69%;
	    position: relative;
	    left: -15%;
			.valign {
				display: inherit;
				.imprint {
					width: 65%;
				}
			}
		}
	}
}

.valign {
	position: relative;
	display: table;
	.fit;
	.middle {
		display: table-cell;
		vertical-align: middle;
	}
}

.border-box{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.border-box-none{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}

.placeholder(@color: #005690, @fsize:12px) {
	input,textarea {
		color:@color;
		font-style:italic;
		.fsize(@fsize);
	}
	input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
		color:@color;
		font-style:italic;
		.fsize(@fsize);
		overflow: visible;
	}
	input::-moz-input-placeholder,textarea::-moz-input-placeholder{
		color:@color;
		font-style:italic;
		.fsize(@fsize);
		overflow: visible;
	}
	input::-o-input-placeholder,textarea::-o-input-placeholder{
		color:@color;
		font-style:italic;
		.fsize(@fsize);
		overflow: visible;
	}
	input::-ms-input-placeholder,textarea::-ms-input-placeholder{
		color:@color;
		font-style:italic;
		.fsize(@fsize);
		overflow: visible;
	}
	input::input-placeholder,textarea::input-placeholder  {
		color:@color;
		font-style:italic;
		.fsize(@fsize);
		overflow: visible;
	}
}
.placeholder(@color: inherit) {
    &::-webkit-input-placeholder {
        color: @color;
    }
    &:-moz-placeholder {
        color: @color;
    }
    &::-webkit-input-placeholder { color: inherit !important; }
    &:-moz-placeholder { color: inherit !important; }
    &::-moz-placeholder { color: inherit !important; }
    &:-ms-input-placeholder { color: inherit !important; }
}
.hidden_thirteen{
	display: block;
	@media @desktop1440 {display: none}
	@media @desktop1024 {display: block}
}

.desktop_only{
	display: block;
	@media @desktop1024 {display: none !important;}
}
.desktop_only_nav{
	display: block;
	@media @mobile768 {display: none !important;}
}

.mobile_only{
	.none !important;
	@media @desktop1024{display:inline-block !important}
}
.mobile_only_nav{
	.none !important;
	@media @mobile768{display:inline-block !important}
}

.mobile_block{

	@media @mobile640 {.block}
}

.fake_link {
	cursor: pointer;
}

.text-shadow {
	.text-shadow();
}

.link-blue {
	color: #2795d7;
}


.flex-center {
	display:flex !important;
	align-items: center !important;
	justify-content: center !important;
}


// arrow start

.arrow-wrap {
  position:absolute;
  z-index:100;
  left:50%;
  bottom:900em;
  margin-left:-5em;
  //background:#1F5576;
  width:10em;
  height:10em;
  padding:2em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  //box-shadow:0px 0px 5px 0px #333;


  @media @mobile640 {
	  width:5em;
	  height:5em;
	  padding:2em 1em;
	  font-size:0.5em;
	  margin-left: -2.5em;
  }


}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);

  @media @mobile640 {
	  border-width: 1.5em 1.5em 0 1.5em;
  }

}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #1F5576 transparent transparent transparent;
  -webkit-transform:rotate(360deg);

  @media @mobile640 {
	  top:-1.6em;
	  left:-1.5em;
	  border-width: 1.5em 1.5em 0 1.5em;
  }

}

.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}
::-webkit-input-placeholder {
   color: rgba(170, 0, 24, 0.5);
    }
    :-moz-placeholder { /* Firefox 18- */
       color: rgba(170, 0, 24, 0.5);
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: rgba(170, 0, 24, 0.5);
    }

    :-ms-input-placeholder {
       color: rgba(170, 0, 24, 0.5);
    }

.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }


  .feature-list {
  	&.color-white {
  		color: white;
  	}
  }



// arrow end
