/* Grids */

.grid{

	max-width: 1440px; /* added */
	margin:0 auto; /* added */

	.box(100%,100%);
	.col{.pull-left;height:100%;}
	.grid-offset{height: 100%}
}


.grid-5{

    .col{

    	.box(16.66666%,100%);
    	.bgr("line_nav.png", 0, 0, repeat-y);
    	
    	@media @mobile768{

			.box(100%,100%);
			display: none;
			.center;

			&.active{.block}
    	}
    }

    .grid-offset{
    	padding:0 50px;
    	@media @desktop1680{padding:0 30px;}
    	@media @desktop1280{padding:0 15px;}
    }
}

.grid-2{

	.col{.ov-hidden}
}

/* Grid Col-left-big */

.grid-2.col-left-big{
	
	.col-big-1{

		width: 65%;		
		.grid-offset{padding:0 15px 0 0}
	}

	.col-big-2{

		width: 35%;
		.grid-offset{padding:0 0 0 15px}
	}

    .col-1, .col-2, .col-3 {width:50%}

    .col-1 .grid-offset{padding:0 15px 0 0}
    .col-2 .grid-offset{padding:0 0 0 15px}
    .col-3 .grid-offset{padding:0 0 0 15px}

	.grid_horiz-1, .grid_horiz-2{height: 50%}
    .grid_horiz-1{

    	padding-bottom:30px;
    	
    }

    .grid_horiz-2{

    	padding-top:15px;
    	.col-3{display: none}
    }

    @media @mobile{
    	.col-big-1{width:100%;}
    	.col-big-2{display: none}

		.grid_horiz-1{height: auto;}

		.grid_horiz-2{
	
			.col-1,.col-2,.col-3{width: 33.33%;}
	    } 

    }
}


/* Grid Col-right-big */

.grid-2.col-right-big{

	.col-big-1{

		width: 35%;
		.grid-offset{padding:0 15px 0 0}
	}

	.col-big-2{

		width: 65%;
		.grid-offset{padding:0 0 0 15px}
	}

    .col-1, .col-2{width:50%}

	.col-1{

        .grid-offset{padding:0 15px 0 0;}
    }

    .col-2{
        .grid-offset{padding:0 0 0 15px;}
    }

    .grid_horiz-1, .grid_horiz-2{height: 50%}

	.grid_horiz-1{padding-bottom:15px}

    .grid_horiz-2{

		padding-top:15px;

		.col-1{.w100}
		.col-1 .grid-offset{padding:0;}
    }
}

/* Grid two columns - simple */ 

.grid-2.grid-2-simple{

	.col{
		width: 50%;
		overflow:visible;
		@media @mobile768{.w100}
	}

	.col-2 .grid-offset{

		padding-left:65px;
		@media @desktop1440{padding-left:25px;}
		@media @mobile768{padding-left:0}
	}
}

/* Grid -3 */
.grid-3{

	.col{

    	.box(33.33333%,100%);
    	.grid-offset{padding:0 7px;}
    }

    .col-1 .grid-offset{padding: 0 13px 0 0}
	.col-3 .grid-offset{padding: 0 0 0 13px}

	@media @mobile768{
		.col{.w100;}
		.col-1 .grid-offset,.col-2 .grid-offset,.col-3 .grid-offset{padding: 0}
	}
}


/* Skeleton Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container { 
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto; 
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

