/* Home section */

.flip_x {
	transform: rotate(180deg);
}

.mobile_33{
	@media @mobile{
		width: 33.33%;
	}
}
.tp-fullwidth-forcer {
    position:static;
    z-index: -10;
}
.hero-play-button {
    opacity: .8; 
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
.section_home {


	.choose-cat-trigger-wrapper {

		padding-top: 20px;
		padding-bottom: 20px; 
        

		img {
			@media @desktop1366 {
				max-width: 400px;
			}

			@media @desktop1024 {
				max-width: 300px;
			}
        
		}

		#main-choose-cat-button {
		  background: #ea5c37;
		  border: 2px solid #ea5c37;
			padding: 1rem;
			line-height: 2rem;
			height: 4rem;
			width: 300px;
			margin: 0 auto;
			display: inline-block;
			font-weight: bold;
			color: white;

			@media @mobile{
				width: 210px;
				font-size: 0.7rem;
			}

			&:hover{
				cursor: pointer;
				background: transparent;
				color:#ea5c37;
				&:after{opacity:0}
			}

		}

	}



	.v-middle {
		display: table-cell;
    	vertical-align: middle;

    	@media @desktop1366{
			display:block;
			padding-top: 70px;
		}

		@media @mobile{
			display:block;
			padding-top: 100px;
		}

		@media @desktop1024{
			display:block;
			padding-top: 50px;
		}

		@media @mobile768{
			display:block;
			padding-top: 50px;
		}

	}


	.content_section{
		z-index: 5
	}
	.main_title{
		opacity: 0;
    	visibility: hidden;
		.fsize(78px);
		.lheight(78px);
		font-weight: 700;
		color:@f3;
		margin: 20px 0 20px;

		@media @desktop1680{
			//margin-top:145px;
			.fsize(64px);
			.lheight(64px);
		}

		@media @desktop1366{
			//margin-top:125px;
			.fsize(52px);
			.lheight(52px);
		}

		@media @desktop1024{
			opacity: 1;
			visibility: visible;
		}

		@media @mobile{
			margin:50px 0 25px;
			.fsize(48px);
			.lheight(48px);
		}

		@media @mobile768{
			.fsize(39px);
			.lheight(43px);
		}

		@media @mobile640{
			.fsize(35px);
			.lheight(39px);
			margin:15px 0;
		}
	}

	.sub_title{
    	opacity: 0;
    	visibility: hidden;
		.fsize(36px);
		.lheight(38px);
		color:@ce;
		color:white;
		@media @desktop1680{.fsize(30px);.lheight(32px);}
		@media @desktop1366{.fsize(24px)}
		@media @desktop1024{
			opacity: 1;
			visibility: visible;
		}
		@media @mobile{color:@fff;}
		@media @mobile768{.fsize(20px)}
		@media @mobile640{.fsize(17px);.lheight(25px);}
		font-family: @rl;
		// .upper;
	}

	.choose_cat_tag {
		text-align: center;
		display: inline-block;
		font-family: 'Raleway', sans-serif;
		font-size:0.6em;
		text-transform: none;
		.fsize(20px);
		font-weight:bold;
		color:white;
	}

	.scroll_text{
		opacity: 0;
    	visibility: hidden;
		color:@f3;
		font-weight: 700;
		margin-top:90px;
		display: inline-block;

		@media @desktop1680{margin-top:80px;}
		@media @desktop1366{margin-top:50px;}
		@media @mobile640{margin-top:20px;.fsize(14px)}
	}

	.scroll_text_line{

		width:80%;
		height: 2px;
		.abs;
		bottom:-15px;
		left:50%;
		margin-left:-40%;
		.bgc(@fff);
	}

	.scroll_arrow{
		opacity: 0;
    	visibility: hidden;
    	margin-top:25px;
    	@media @desktop1024{height:43px;margin-top:35px;opacity: 1;
    		visibility: visible;}
    	@media @mobile640{height:35px;margin-top:15px;}
    }

    .arrow_mouse{
		@media @mobile{height:100%;}
    }



	.arrow_mouse path{
        fill:@fff;
    }

	@media @mobile480{
		min-height: 480px;
	}
	@media @mobile480_h{
		min-height: 480px;
	}
}
.main_nav_id{
	opacity: 0;
	visibility: hidden;
	&.scrolled-to{
		background: rgba(0,148,211,0.8);
	}
}
/* Sections with SVG */
#white-rect{

	.x(485px);
}

/* Gallery */
.white-wrap{
	background: #fff;
}
.section_gallery{ 
	max-width: 1920px;
	margin: 0 auto;
	.bgc(#ffffff);

	.white-background {
		width : 40%;
	  	.abs;
	  	left:40%;
	  	top:0;
	  	bottom: 0;
	  	.bgc(@fff);
	}
}

.content_gallery{

	padding-bottom:30px;

	&.content_gallery_last{
		padding-bottom:100px;
	}
	@media @desktop1680{
		padding-left:50px;
		padding-right:50px;
	}

	.link_to_top{
		margin-top:25px;
		.center;
		cursor: pointer;
	}

	.link_to_top .text{

		font-weight: 500;
		padding-top:35px;
	}
}


.main_title_out{
	.fsize(60px);
	.lheight(60px);
	font-weight: 400;
	color:#353535;
	.center;
	margin-bottom:40px;

	h2{font-weight: 400;}

	@media @desktop1680{

		.fsize(45px);
		.lheight(45px);
	}

	@media @desktop1440{

		.fsize(32px);
		.lheight(32px);
	}

	@media @desktop1366{

		.fsize(28px);
		.lheight(28px);
	}

	@media @desktop1024{

		.fsize(24px);
		.lheight(24px);
	}

	@media @mobile{
		.fsize(21px);
		.lheight(21px);
	}

	@media @mobile480{

		.fsize(17px);
		.lheight(17px);
	}
}
.section_sm_gall{
	height: 100%;
	.section_block{
		position: relative;
		display: block;
	}
	.content_inner{
		padding-top:0;
	}

	.img_box img{
		position: static;
		max-width: 100%;
		.transform_no;
	}
}
.section_n{
	background: #fff;
	padding: 105px 100px 0;
	width: 100%;
}

.section_gallery{
	padding: 0 20px 0;
    
	.link_to_top{
		margin-top:85px;
	}
	@media @desktop1680{
		padding:0 20px 0;
	}
	@media @desktop1440{
		padding:0 20px 0;
	}
	@media @mobile{
		padding:0 20px 0;
	}
}

//Gallery grid home
.grid-n{
	img{
		display: block;
	    max-width: 100%;
	    margin: 0 auto;
	}
	.col>.col{
		padding: 10px;

		@media @desktop1366{padding:2.5px;}
	}
	.col{
		box-sizing: border-box;
		float: left;
		&.left-f{
			float: left;
		}
		&.right-f{
			float: right;
		}
	}
	.col-6{
		width: 66.66%;

		@media @mobile640{.w100;float: none;}
	}
	.col-5{
		width: 50%;
		@media @mobile480{.w100;}
	}
	.col-4{
		img{
			width: 100%;
			height:100%;
			box-sizing: border-box;
   			padding: 0px 10px 0px 10px;
		}
		float: none;
		max-width:33.333%;
		position: absolute;
		height: ~'calc(100% - 20px)';
		width: 33.333%;
		top:10px;
		overflow: hidden;
		&.left{
			left: 0px;
		}
		&.right{
			right: 0;
		}
		.description-img{
			width:~'calc(100% - 20px)';
			margin: 0 10px 15px 10px;
		}

		@media @desktop1366{

			img{padding: 0px 2.5px;}
			height: ~'calc(100% - 5px)';
			width: 33.333%;
			top:2.5px;

			.description-img{
				width:~'calc(100% - 5px)';
				margin: 0 5px 5px 2.5px;
			}
		}
	}
	.col-33{
		width: 33.3333%;
		@media @mobile480{.w100;}
	}
	.col-100{
		width: 100%;
	}

	@media @mobile640{
		/*
		.mobile_33{
			width: 33.33%;
		}
		*/
	}
	@media @mobile480{
		.mobile_33{
			.w100;
			&.desktop_hidden {
				height: auto;
				img{
					margin-top: 0;
					top:0;
				}
			}
		}
	}


	.wide_img{
		@media @mobile640{
			height:250px;
			.wrap-img{.ov-hidden;}
			img{left:50%;margin-left:-25%;max-width:none;height:100%;}
		}
	}

	.desktop_hidden{
		display: none;
		@media @mobile640{.block}
		@media @mobile480{
			height:325px;
			.ov-hidden;
			margin-bottom:5px;

			img{top:50%;margin-top:-25%;}


		}
	}

	.mobile_hidden{
		@media @mobile640{display: none}
	}
}

.wrap-img{
	height: 100%;
	position: relative;
	z-index: 20;


	@media @desktop1024min{
		img {
			width: 100%;
		}
	}




	.description-img{
		//will-change: opacity;
		position: absolute;
		top:0;
		left:0;
		/* .w100; */
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		color: #fff;
		opacity: 0;
		visibility: hidden;
		font-size: 18px;
		font-weight: 500;
		/* .animate(0.3s,all); */
		@media @mobile640{display:none}

		img {
			width:100%;
		}

		div{
			display: table;
			padding: 40px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
		}
		p{
			display: table-cell;
			vertical-align: bottom;
		}
	}
	&:hover{
	 	.description-img{
	 		opacity: 1;
	 		visibility: visible;
	 	}
	}


}
.point-none{
	pointer-events: none;
}
.link_to_top-home{
	margin: 45px auto;
}


table.hard-facts {
	font-size:1em;
	font-weight:bold;
	width:100%;
	color: #353535;

	@media @desktop1024{
		font-size: 0.9em;
	}
}

table.hard-facts span {
	font-size: 1.5em;
	display:block;

	@media @desktop1024{
		font-size: 1.3em;
	}

}


.section_home,
.section_video {
	@media @desktop1440 {

	}

	@media @desktop1366 {

	}

	@media @desktop1280 {
//		max-height: 41.5rem;
	}

	@media @desktop1024 {
//		max-height: 38.5rem;
	}

	@media @mobile768 {

	}

	@media @mobile {

	}
}
footer .newsletterbar {
    background:white !important;
}