.section_top-academy{
	.bgr('academy_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('academy_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-exhibition{
	.bgr('exhibition_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('exhibition_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-partners{
	.bgr('partners_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('partners_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-hotels{
	.bgr('hotels_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('hotels_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-branson{
	.bgr('info/branson_hero.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('info/branson_hero.jpg',top, center);background-size:cover;}
}
.section_top-spacey{
	.bgr('info/spacey_hero.jpg', top, center);
	background-size:cover;
	@media @mobile768{.bgr('info/spacey_hero.jpg',top, center);background-size:cover;}
}
.section_top-spacey-2{
	.bgr('info/spacey_hero-2.jpg', top, center);
	background-size:cover;
	@media @mobile768{.bgr('info/spacey_hero-2.jpg',top, center);background-size:cover;}
}
.section_top-oktoberfest{
	.bgr('oktoberfest_hero.jpg', top, center);
	background-size:cover;
	@media @mobile768{.bgr('oktoberfest_hero.jpg',top, center);background-size:cover;}
}
.section_top-agenda{
	.bgr('agenda.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('agenda.jpg',top, center);background-size:cover;}
}
.section_top-sidevents{
	.bgr('side_events_hero.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('side_events_hero.jpg',top, center);background-size:cover;}
}
.section_top-iot{
	.bgr('cluster/hero/iot.jpg', center, center);
	background-size:cover;
}
.section_top-pitch{
	.bgr('pitch_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('pitch_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-team{
	.bgr('team_big_img.jpg', top, center);
	background-size:cover;
	@media @mobile768{.bgr('team_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-volunteers{
	.bgr('volunteers_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('volunteers_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-success{
	.bgr('success_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('success_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-attendees{
	.bgr('attendees_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('attendees_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-speaker{
	.bgr('2016/speakers_hero.jpg', top, center);
	background-size:cover;
	@media @mobile768{.bgr('2016/speakers_hero.jpg',top, center);background-size:cover;}
}
.section_top-investors_list{
	.bgr('investors_list_big_img.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('investors_list_big_img_mob.jpg',top, center);background-size:cover;}
}
.section_top-captains{
	.bgr('2016/captains_hero2.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('2016/captains_hero.jpg',top, center);background-size:cover;}
	.wrapper{
		max-width: 1340px;
	}
}
.section_top-women-in-tech{
	.bgr('header_women_in_tech.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('header_women_in_tech_mob.jpg',top, center);background-size:cover;}
}

.section_top-networking-app{
	.bgr('header_networking_app.jpg', center, center);
	background-size:cover;
	@media @mobile768{.bgr('header_networking_app_mob.jpg',top, center);background-size:cover;}
}




.inner_sections {
	.descr_big_margin{
		margin-bottom: 90px;

		@media @mobile{margin-bottom: 60px;}
		@media @mobile640{margin-bottom: 50px;}
	}
	.descr_no_margin{
		margin-bottom: 0;
	}
	.descr_sub_mg{
		margin-bottom: 20px;
	}
}
.section_1_adjust{
	padding-top: 120px;
}
.section_info{
	padding-bottom: 50px;
}
.section_info_pt{
	padding: 120px 0 85px 0;
}
.section_info_pt-questions{
	padding: 120px 0 60px 0;
}
.section_info_bt_pt{
	padding: 145px 0 120px;
}
.section_info_big{
	padding-bottom: 140px;
}
.section_info_bg_bt{
	padding-bottom: 150px;
}
.section_pt_team{
	padding: 50px 0 20px 0;
}
.section_pt_list{
	padding: 100px 0 70px 0;
}
.info_text_top{
	.abs;
	bottom:12%;
	left:0;
	width:100%;
	padding:0 20px;

	.main_title{
		color:@fff;
		.fsize(39px);
		.lheight(48px);
		margin-bottom:0;
		@media @desktop1680{.fsize(33px);.lheight(41px);}
		@media @desktop1366{.fsize(29px);.lheight(37px);}
		@media @desktop1280{.fsize(26px);.lheight(34px);}
		@media @mobile{.fsize(22px);.lheight(30px);}
		@media @mobile640{.fsize(19px);.lheight(25px);}
	}
}
.info_text_top{
	.abs;
	bottom:12%;
	left:0;
	width:100%;
	padding:0 20px;

	.main_title{
		color:@fff;
		.fsize(39px);
		.lheight(48px);
		margin-bottom:0;
		@media @desktop1680{.fsize(33px);.lheight(41px);}
		@media @desktop1366{.fsize(29px);.lheight(37px);}
		@media @desktop1280{.fsize(26px);.lheight(34px);}
		@media @mobile{.fsize(22px);.lheight(30px);}
		@media @mobile640{.fsize(19px);.lheight(25px);}
	}
}
.cluster_icon_top {
    .abs;
    text-align: center;
    bottom:40%;
	width:100%;
}
.cluster_icon_top img {
    width:35%;
}

.topic_title{
	.family(@rl);
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	.animate(.4s,all);

	@media @mobile{.fsize(17px);}
	@media @mobile768{.fsize(16px);.lheight(20px)}
}
.topic{
	.bgc(@fff);
	.w100;
	text-align: left;
	padding: 35px 100px 35px 50px;
	position: relative;
	margin-bottom: 10px;
	cursor:pointer;

	&.flex {
		display: flex;
	}

	.descr,.description_info{
		.fsize(14px);
	}

	&.active{
		.arrow_pointer{
			&:after{
				.rotate(180deg);
			}
		}
	}

	&.topic_open{
		.description_info{.block;color:@dark_silver !important;}
	}

	&:hover{

		.topic_title,
		.question_title {
			color:#2795d7;
		}
	}

	.avatar {
		text-align: center;

		display: -webkit-flex;
	   display: flex;
	   flex-direction: row;
	   -webkit-align-items: center;
	   align-items: center;
	   -webkit-justify-content: center;
	   justify-content: center;
		//background: red;

		img {
			border-radius: 50px;
		}

		.name {
			padding-top: 10px;
			display: none;
		}

	}

	.info {
		display: flex;
		align-items: center;
		justify-content: center; 
		align-self: flex-start; 
		//background: red;

		padding: 30px;
	}


	@media @mobile768{padding:25px 85px 25px 35px;}
	@media @mobile480{padding:22px 70px 20px 30px;}
}

.arrow_pointer{
	border:1px solid #206d9a;
	border-radius:360px;
	position: absolute;
	right: 40px;
	top:42px;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	cursor: pointer;
	&:after{
		.animate(0.3s, all);
		position: absolute;
		content: '';
		display: block;
		width: 14px;
		height: 8px;
		top: 15px;
    	left: 12px;

		@media @mobile768{top:12px;left:9px;}
		@media @mobile480{top:8px;left:5px;}
	}

	body.app-scrolled & {
      &:after {
        .bgr('arrow.png', center, center);
      }
	}

	@media @mobile768{right:35px;top:30px;.box(35px,35px);}
	@media @mobile480{right:30px;top:25px;.box(25px,25px);}
}
.description_info{
	display: none;
	padding-top:1px;
}
.quote{
	text-align: left;
	position: relative;
	padding-left: 55px;
	box-sizing: border-box;
	&:before{
		content: '';
		position: absolute;
		top:-3px;
		left:55px;
		width: 80px;
		height: 3px;
		.bgc(#e5e5e5);
	}
	.main_title{
		font-size: 25px;
		line-height:34px;
		//min-height: 180px;
		//padding:0 95px 0 0;
		margin: 40px 0;

		@media @desktop1440{
			.fsize(22px);
			.lheight(30px);
			padding:0 55px 0 0;
		}

		@media @desktop1366{
			.fsize(22px);
			.lheight(27px);
		}

		@media @desktop1024{
			.fsize(19px);
			.lheight(24px);
			//padding:0 25px 0 0;
		}

		@media @mobile{
			padding-right:0;
			margin:20px 15px 15px 0;
		}

		@media @mobile768{
			.fsize(18px);
			.lheight(23px);
		}

		@media @mobile480{
			.fsize(16px);
			.lheight(21px);
		}
	}

	@media @desktop1280{
		padding-left:25px;
		&:before{left:25px;}
	}

	@media @mobile{
		&.quote-1{margin-bottom:40px}
	}
}

.author{
	.family(@rl);
	font-weight: 400;
	line-height: 21px;
	font-size: 14px;
	font-style: italic;
	strong{
		display: block;
	}
}
.container_info{
	max-width: 1200px;
	margin: 0 auto;
	padding:90px 0 0 0;

	@media @desktop1440{padding-top:50px;}
	@media @mobile{padding-top:30px;}
	@media @mobile480{padding-top:0;}
}

/*Exhibition*/
.grid-2-simple{

	.col-1 .start_up_apply{.pull-right;margin-right:10px;}
	.col-2 .start_up_apply{.pull-left;margin-left:10px;}

	@media @mobile768{

		.col-1 .start_up_apply,.col-2 .start_up_apply{float: none;margin:0 auto 30px;}
		.col-2 .start_up_apply{margin-bottom:0;}
	}
}

.start_up_apply{
	&.white{
		.bgc(#ffffff);
	}
	&.light_blue{
		.bgc(#1b6998);
	}
	&.start_up_apply-big{
		max-width: 385px;
		width: 100%;
		margin: 0;
		@media @mobile{max-width: none}
	}
	max-width: 405px;
	padding-bottom:20px;

	.family(@rl);
	.blue_box{
		padding:30px 50px 40px;
		.bgc(#26709d);
		color:#ffffff;

		&.blue_box-dark{
			.bgc(#1f5778);
		}
		&.blue_box-darkest{
			.bgc(#144e71);
			padding: 50px;
		}
		&.blue_box-third{
			.bgc(#193d53);
		}
	}
	.st_heading{
		.fsize(32px);
		font-weight: 400;
		line-height: 50px;
		margin-bottom: 23px;

		@media @desktop1440{.fsize(27px);line-height: 35px;}
		@media @desktop1280{.fsize(24px);line-height: 32px;}
		@media @mobile{.fsize(22px);line-height: 30px;}
		@media @mobile480{.fsize(21px)}
	}
	&.start_up_apply-big{

		.st_heading{
			@media @mobile{.fsize(22px);line-height: normal}
		}
	}
	p{
		.family(@rl);
		.fsize(21px);
		.lheight(24px);
		font-weight: 600;

		@media @desktop1440{.fsize(19px);.lheight(23px)}
		@media @desktop1280{.fsize(16px);.lheight(20px)}
		//@media @mobile{.fsize(15px);.lheight(18px)}
	}
	.main_price{
		.fsize(24px);
		.lheight(48px);
		color:#0e0e0e;
		margin: 10px;
		padding:5px 0 10px;
		.h3{font-weight: 400;}
		span{
			display: block;
			font-weight: bold;
			.fsize(40px);
//            font-family:sans-serif;
		}
		@media @desktop1440{
			.fsize(21px);.lheight(45px);
			span{.fsize(30px);}
		}
		@media @desktop1280{
			.fsize(18px);.lheight(43px);
			span{.fsize(25px);}
		}
		@media @mobile{
			.fsize(17px);.lheight(36px);
			span{.fsize(22px);}
		}
	}
    .euro {
        display: inline !important;
        .fsize(15px)!important;
        vertical-align:super;
        margin-right:5px;
    }

	.button{
		.family(@rl) !important;
		font-weight: 600 !important;
	}

	@media @desktop1366{
		.blue_box{
			&.blue_box-darkest{
				padding:30px;
			}
		}
	}

	@media @mobile768{
		max-width:355px;
		.blue_box{padding:20px 30px;}
	}
}
.other_prices{
	.other_prices-wrap{
		margin:13px 0;
		.family(@rl);
		color:#d2d2d2;
		.fsize(18px);
		line-height: 20px;
		font-weight: 400;
	}
	span{
		display: block;
		font-weight:700;
		.fsize(30px);
		line-height: 44px;
		@media @desktop1280{.fsize(26px);.lheight(40px);}
		@media @mobile{.fsize(24px);.lheight(37px);}
	}
}
.button.mx-width{
	max-width: 210px;
	margin: 0 auto;
	font-weight: normal;
	.family(@rl);
	.fsize(16px);
	text-transform: none;
}
.vat{
	margin:30px auto 50px;
	.family(@rl);
	line-height: 21px;
	.fsize(14px);
	color:#7a7a7a;

	&.vat_mb0{margin-bottom:0;}
}
.wrap_quest{
	max-width:1200px;
	margin:0 auto;
}

.question_title{
	.family(@rl);
	.fsize(24px);
	.lheight(36px);
	font-weight: 700;
	margin-bottom: 5px;
	.animate(.4s,all);
	color: #000;
	a {
		.animate(.4s,all);
		color: #000;
		&:hover {
			color: #2795d7;
		}
	}

	@media @mobile{.fsize(20px);.lheight(31px);}
	@media @mobile768{.fsize(17px);.lheight(27px)}
	@media @mobile480{.fsize(16px);.lheight(21px)}
}
.question_subtitle{
	.family(@rl);
	.fsize(16px);
	line-height: 24px;
	font-weight: 600;
	margin-top:23px;
	color:#000 !important;

	@media @mobile480{.fsize(14px);}
}
.questions_list{
	.family(@rl);
	.fsize(14px);
	line-height:24px;
	font-weight: 400;
	margin:0;
	padding: 0 0 0 15px;
	li{
		list-style-type: decimal;
	}
}
.questions_list-unordered{
	li{
		list-style: none;
		position: relative;
		&:before{
			position: absolute;
			top:-2px;
			left:-15px;
			content: '>';
		}
	}
}
.questions_list-dots{
	li{
		list-style: none;
		position: relative;
		&:before{
			position: absolute;
			top:~'calc(50% - 3px)';
			left:-12px;
			content: '';
			width: 3px;
			height: 3px;
			border-radius:360px;
			background: #000;
		}
	}
}
.question_text{
	.family(@rl);
	.fsize(14px);
	max-width: 915px;
	line-height: 24px;
	font-weight: 400;
	//margin-bottom: 15px;
	&.no-space{
		margin-bottom: 0;
	}
}

.list_logos{
	.logo_box-tr{
		width: 33.33333%;
	}
	.logo_box-ft{
		width: 25%;

		@media @mobile768{width:33.33333%}
		@media @mobile480{width:50%}
	}
}
.main_title-line{
	border-top:2px solid #e6e6e6;
	padding-top: 90px;
	margin-top: 60px;
	@media @mobile{padding-top:60px;}
}
.patronage_logo{
	margin-top: 20px;
	padding-bottom: 70px;
	border-bottom:2px solid #e6e6e6;

	@media @mobile{padding-bottom:50px}
}
.main_title-mg{
	margin-top: 60px;
}
.list_logos-mt{
	margin-top:50px;
}
.list_users-grid-5{
	.user_box{
		width: 20%;
	}
}

.list_users-grid-3{
	.user_box{
		width: 33%;
	}
}

.section_list {
	.list_users .user_box{
		margin-bottom: 25px;
	}
}
.list_users-trp{	
	.user_box{
		display: inline-block;
    	float: none;
    	@media @mobile768{width: 32.5% !important;}    	
	}
}
.section_adjust{
	padding:150px 0 130px;
}

.deadline{
	.family(@rl);
	.fsize(14px);
	line-height: 30px;
}
.section_success{
	.button{
		max-width: 455px;
		margin:20px auto 0;
	}
}
.img_brt{
	margin-top: 50px;
}

//Imprint
.imprint_wrapper{
	max-width: 1200px;
	margin:0 auto 55px;
	padding: 55px 60px 5px 60px;

	@media @mobile768{padding:35px 30px;}
}
.imprint{
	text-align: left;
	margin-bottom: 40px;

	h2,h3{
		.family(@rl);
		margin-bottom: 10px;
		.fsize(24px);
		font-weight: 500;
		color:#353535;

		@media @desktop1680{.fsize(21px);}
		@media @desktop1366{.fsize(19px);}
		@media @mobile768{.fsize(17px);}
		@media @mobile480{.fsize(16px);}
	}
	p{
		.family(@rl);
		max-width: 950px;
		.fsize(16px);
		line-height:24px;
		font-weight: 500;
		color: #7a7a7a;
		@media @mobile480{.fsize(15px)}
	}
}
//List
.list_users-hidden{
	display: none;
}
.section_top .content_svg_section-list{
	top:65%;
}
.accredit_section{

	.wrapper_inner{
		max-width: 1320px;
		margin: 0 auto;
		padding: 0;

		@media @desktop1366{max-width:990px;}
		@media @mobile{max-width:none;padding:0 50px}
		@media @mobile640{padding:0 20px;}
	}
	.wbox{
		max-width: 910px;
		width: 100%;
		background: rgba(255, 255, 255, 0.95);
	}
	.st_heading{
		margin-bottom: 0;
	}
}
.sub_links{
	ul{padding: 0 15px;margin:0}
	li{
		.family(@rl);
		font-weight: 500;
		line-height: 19px;
		.fsize(16px);
		padding: 20px 0;
		border-bottom:1px solid #6096b7;
		&:last-child{
			border-bottom:none;
		}

		@media @desktop1366{
			.fsize(14px);
			line-height: 17px;
		}
		@media @mobile{padding: 15px 0;}
	}

	&.sub_links_buy{

		padding:25px 0;
		li{
			.fsize(14px);
			padding:13px 0;
		}
	}

	&.sub_links-dark{
		.bgc(#26709d);
		li{border-bottom-color:#518db1;}
	}
	&.sub_links-darker{
		.bgc(#1f5778);
		li{border-bottom-color:#4c7993;}
	}
	&.sub_links-darkest{
		.bgc(#1a3e54);
		li{border-bottom-color:#486576;}
	}
}
.text_icon {
    position:relative;
    top:1px;
    width:20px;
    height:15px;
    margin-right:2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display:inline-block;
}
.tw-like{
	display: inline-block;
    position: relative;
    top: 7px;
    margin-left: 2px;
}
ul.share-buttons{
    list-style: none;
    padding: 0;
}
    ul.share-buttons li{
    display: inline;
}
ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.share-buttons img {
    width:auto;
}
.share-buttons-small img {
    width:17px;
}