.wrapper_inner{

	.fit;
	padding:0 200px;
	@media @desktop1680{padding:0 100px;}
	@media @mobile{padding:0 50px}
	@media @mobile640{padding:0 20px}
}

.wrapp_main_text{
  max-width: 55%;
  margin: 0 auto;
	&.team {
		margin-bottom: 50%;
	}
    @media @mobile640 {
        max-width:100%;
    }
}

.section_1{

	.relative;
	top:auto;
	left:auto;
	.block;
	width:100%;
	height:auto;

	.content_section{.relative}
}

.section_pt{
	padding:100px 0;
	@media @desktop1366{padding:80px 0;}
	@media @mobile{padding:70px 0;}
	@media @mobile768{padding:50px 0;.center}
	@media @mobile480{padding:30px 0 50px;}
}

/* Top section */

.section_top{

	height: 100vh;
	.content_svg_section{

		.w100;
		.abs;
		top:54%;
		left:0;

		@media @mobile{display: none}
	}

	.svg_name_section{.fit;.block}

	.main_title{

		@media @desktop1440{margin-bottom:20px;}
	}

	.descr{

		width:80%;
		margin:0 auto;
	}

	.svg_text{

		.abs;
		bottom:40px;
		left:0;
		width:100%;

		@media @desktop1366{bottom:30px;}
		@media @desktop1280{bottom:40px;}

		@media @mobile{
			bottom:0;
			.inner_svg_text{background:rgba(255,255,255,0.9);padding:40px 10px;}
		}
	}

	.wrapper{z-index: 4;padding-top:1px;}

	.stay_block{.block;}

	&.startup{
		.bgr('startup_big_img.jpg', top, center);
		background-size:cover;
		@media @mobile768{.bgr('startup_big_img_mob.jpg',top, center);background-size:cover;}
	}

	&.student{
		.bgr('student_big_img.jpg', top, center);
		background-size:cover;
		@media @mobile768{.bgr('student_big_img_mob.jpg',top, center);background-size:cover;}
	}

	&.investor{
		.bgr('investor_big_img.jpg', top, center);
		background-size:cover;
		@media @mobile768{.bgr('investor_big_img_mob.jpg',top, center);background-size:cover;}
	}

	&.inst{
		.bgr('institutional_big_img.jpg', top, center);
		background-size:cover;
		@media @mobile768{.bgr('institutional_big_img_mob.jpg',top, center);background-size:cover;}
	}

	&.journalist{
		.bgr('journalist_big_img.jpg', top, center);
		background-size:cover;
		@media @mobile768{.bgr('journalist_big_img_mob.jpg',top, center);background-size:cover;}
	}

}

/* Logos */

.list_logos{

	max-width: 1440px;
	margin: 0 auto;

	.w100;
	margin-top:100px;

	.logo_box{

		.pull-left;
		width:16.66666%;

		img{.w100;max-width: 230px;}

		@media @desktop1280{width:25%}
		@media @mobile768{width:33.33333%}
		@media @mobile480{width:50%}
	}

	&.logos-grid-5{
		margin-bottom:60px;
		.logo_box{
			width: 20%;

			&.quarter {
				width: 25%;
			}
		}

		@media @mobile768{
			margin:20px 0 0 0;
			.logo_box{width: 33.33333%}
		}
		@media @mobile480{.logo_box{width: 50%}}
	}

	@media @desktop1280{margin-top:60px;}
}

/* Section Device */

.section_devices{

	.img_box{
		max-width: 694px;
		@media @mobile768{
			max-width: 434px;
			margin:50px auto 0;
		}
	}

	img{.w100}

	.grid-2.grid-2-simple .col-1 .grid-offset{
		padding-right:100px;
		@media @desktop1440{padding-right:55px;}
		@media @mobile{padding-right:25px;}
		@media @mobile768{padding-right:0}
	}
}

/* Section Whitebox */

.section_wbox{

	height:830px;

	@media @desktop1366{height:700px;}
	@media @mobile{height:600px;}
	@media @mobile768{height:auto;}

	.wbox{
		max-width: 935px;
		.w100;
		padding: 80px 100px;
		background: rgba(255,255,255,0.95);
		margin:0 auto;

		&.wbox_big{max-width:1450px;}

		@media @desktop1440{padding:60px 80px;}
		@media @mobile640{padding:40px 30px;}
	}

	.button_box{
		margin:0 auto;
	}

	&.wbox_1{
      body.app-scrolled & {
        .bgr('startup_wbox_img_1.jpg', center, center)
      }
	}

	&.wbox_2{
      body.app-scrolled & {
        .bgr('2016/academy.jpg', center, center);
          background-size:cover;
    
      }
	}

	&.wbox_3{
      body.app-scrolled & {
        .bgr('investor_wbox_img.jpg', center, center)
      }
	}

	&.wbox_4{
		body.app-ready & {
          .bgr('all_wbox_img_oktoberfest_mobile.jpg', center, center);

          @media @min769 {
            .bgr('all_wbox_img_oktoberfest.jpg', center, center);
          }
		}
	}
    &.wbox_5{
		.bgr('cluster/hero/cluster_footer.jpg', center, center);
        @media @min1920 {background-size: 100% auto}
	}

	&.wbox_pitch{
      body.app-scrolled & {
        .bgr('startup_wbox_img_1.jpg', center, center)
      }
	}	

	&.wbox_logos{
		.bgr('wbox_img_logos.jpg', center, center)
	}


	&.wbox_wide{
      body.app-scrolled & {
        .bgr('inst_wbox_img.jpg', center, center);
        @media @mobile {
          height: auto;
        }
      }
	}

	.descr{margin-bottom:40px}

}

.wbox_wide{

	.descr{
		margin:0 auto 40px;
	}

	.list_logos.logos-grid-5{

		@media @mobile{.logo_box{width: 33.33333%}}
		@media @mobile640{.logo_box{width: 50%}}
	}
}

/* Section users */

.section_users_right{

	.info_box{
		padding:0 100px 247px 0;

      @media @desktop1440{padding-right:55px;}
      @media @desktop1280{padding-bottom:184px}
      @media @mobile{padding-right:25px;}
      @media @mobile768{padding-right:0;padding-bottom:32px;}

        body.app-scrolled & {
          .bgr('figures.png', 96%, 100%);

          @media @desktop1440{background-size: 80%}
          @media @mobile768{background-size: 50%}
        }
	}
}

.list_users{

	width:100%;
	display:block;

	.user_box{
		height:250px;
		.pull-left;
		width: 25%;
		color:@7a;
		.fsize(13px);
		.center;
		margin-bottom:20px;
	    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;         /* Opera/IE 8+ */

		@media @desktop1024{width:33.33333%;}
		@media @mobile768{width:25%;}
		@media @mobile640{width:33.33333%;}
		@media @mobile480{width:50%;}


		.title {
			width:95%;
			display:block !important;
			padding: 0px !important;
			.center;
			margin:0 auto;
		}

	}
    .partner_section {
		@media @mobile768{width:33.33333% !important;}
        @media @mobile640{width:33.33333% !important;}
        @media @mobile480{width:33.33333% !important;}
    }

	/** ONLY 4 PERSONS AVAILABLE **/
	.user_box_4 {
		width: 25% !important;
		@media @desktop1024{width:25% !important;}
		@media @mobile768{width:25% !important;}
		@media @mobile640{width:25% !important;}
		@media @mobile480{width:50% !important;}

	}

	.user-offset{
		overflow: hidden;
		padding:0 10px;
	}



	p{ margin-bottom:5px;}

	.name_user{color:@dark_silver;font-weight: 600;}


	.img_user{
		max-width:132px;
		img{
			.round(50%);
			.w100;
			border: 1px solid #e8e8e8;
            
			&.on-cat-site {
				max-width: 119px;
				max-height: 119px;
			}
		}

		margin:0 auto 10px;

	}

	@media @mobile768{padding-top:30px;width:100%}
}

.section_users{

	.list_users{
		width:100%;
		margin-top:70px;
		@media @desktop1280{margin-top:60px;}
		@media @mobile{width:100%}
		@media @mobile768{margin-top:30px;}
	}
	.list_users .user_box{
		width:16.66666%;
		@media @mobile768{width:25%;}
		@media @mobile640{width:33.33333%;}
		@media @mobile480{width:50%;}
	}
	.wrap_speakers{

		max-width:1130px;
		margin:0 auto;
	}
}

.section_team{

	.wrap_team{

		max-width:950px;
		margin:0 auto;
	}

	.list_users{
		width:101%;

	}
	.list_users .user_box{
		width:20%;
		@media @mobile768{width:33.33333%;}
		@media @mobile480{width:50%;}
	}
}

/* Section Apply */

.apply{

	height:auto;
	padding:120px 0;

    body.app-scrolled & {
      .bgr('apply_img_1.jpg', center, center);
    }

	.wbox{
		padding-left:130px;
		@media @mobile{padding-left:80px;}
		@media @mobile768{padding:30px}
	}

	.link_to_top{
		color:@fff;
		@media @mobile{
			.relative;
			bottom:auto;
			left:auto;
			margin:30px 0 0 0;
		}
	}

	.arrow_mouse path, .arrow_mouse circle{fill:@fff}

	@media @mobile{padding:70px 0;}
	@media @mobile768{padding:50px 0;.center}
}



/* Section women in tech */

.women-in-tech{

	height:auto;
	padding:120px 0;

	.bgr('apply_img_1.jpg', center, center);

	.wbox{
		padding-left:130px;
		@media @mobile{padding-left:80px;}
		@media @mobile768{padding:30px}
	}

	.link_to_top{
		color:@fff;
		@media @mobile{
			.relative;
			bottom:auto;
			left:auto;
			margin:30px 0 0 0;
		}
	}

	.arrow_mouse path, .arrow_mouse circle{fill:@fff}

	@media @mobile{padding:70px 0;}
	@media @mobile768{padding:50px 0;.center}

	.main_title {
		color: white !important;
	}

}


/* Section Journalist */

.acredit{

	height:auto;
	padding:120px 0;

	.bgr('journalist_img.jpg', center, center);

	.col-tr{
		padding-right: 30px;
		box-sizing: border-box;
		width: 28%;
		float: left;

		@media @mobile{.w100;float:none;padding-right:0;}
	}

	.col-sv{
		width: 72%;
		float: left;

		.wbox{
			padding: 80px 40px 80px 13.5%;

			@media @desktop1366{ padding: 40px 40px 60px 60px; max-width: 710px}
			@media @desktop1280{padding: 40px 0px 60px 30px;}
			@media @mobile{padding:60px 80px;max-width:none;}
			@media @mobile768{padding:30px}
		}

		@media @mobile{.w100;float:none;}
	}

	@media @mobile{
		background:none;
		.bgc(#f5f5f5);
		padding:70px 0;
	}

	.link_to_top{
		@media @mobile{
			.relative;
			bottom:auto;
			left:auto;
			margin:30px auto 0;
		}
	}


}

.mb60{
	margin-bottom:60px;
}

.mt60{
	margin-top:60px;
}

.mb0{
	margin-bottom:0 !important;
}

.button_mb{
	margin-bottom:70px;
	@media @desktop1366{margin-bottom:50px;}
}
