.main{height:100%;width:100%;position:relative;}
.wrapper{max-width:1130px;height:100%;width:100%;margin:0 auto;position:relative}

.mobile_hidden{
    @media @mobile640{display: none}
}

.mobile_hidden_min_641{
    @media @mobile640min{display: none}
}

.desktop_hidden {
    @media @desktop1024min{display: none}
}

header{

    .abs;
    top:0;
    left:0;
    height: 145px;
    width: 100%;
    z-index: 1;
}

iframe {
    display:block;
}
/* Logo */

.logo,.logo_inner{
    a{
        .fit;
        .block;
    }

    img{.w100}
}

.logo{
    opacity: 0;
    visibility: hidden;
    margin: 0 auto;

    width:250px;
    padding-bottom: 30px;
    //.abs;
    //top:40px;
    //left:50%;
    //margin-left:-78px;

    @media @desktop1680{

        width: 500px;
        padding-bottom: 0px;
        //margin-left:-63px;
    }
    @media @min1025 {
        width:500px;
    }


    @media @desktop1024{
        opacity: 1;
        padding-bottom: 0px;
        visibility: visible;
    }

    @media @mobile{

        width:300px;
        padding-bottom: 0px;
        //margin-left:-53px;
    }

    @media @mobile640{

        width:250px;
        padding-bottom: 20px;
        //margin-left:-40px;
    }
}

.logo_inner{
    //Changed from 67px;
    width:60px;
    .abs;
    top:20px;
    left:40px;
    z-index: 6;
    display: none;
}


/* Footer */

footer{

    .w100;
    z-index: 6;
    .arrow_mouse path{fill:#353535}
}

.top_footer{

    padding:23px 0 35px;
    .center;

    @media @desktop1680{
        padding-bottom:0;
    }
    @media @mobile{padding-bottom:10px;}
}

.bottom_footer{

    padding:20px 40px;
    .fsize(13px);

    .bgc(@blue);
    color:@fff;

    .footer_nav{.center}

    .footer_nav li{

        display: inline;
        margin:0 12px;

        @media @mobile480{
            margin:0 5px;
        }
    }

    .footer_nav .link{

        color:@fff;
        padding-bottom:4px;

        &:after{

            content:"";
            width:100%;
            height: 1px;
            width: 0px;
            .abs;
            bottom:0px;
            left:0;
            .bgc(@fff);
            .animate(.4s,all);
        }

        &:hover{
            &:after{width:100%;}
       }
    }

    .copyright{

        .abs;
        top:28px;
        left:40px;


        @media @mobile{

            .relative;
            top:auto;
            left:auto;
            margin:28px 0 5px;
            .center;
        }
    }

    .created_by{

       .abs;
       right:40px;
       top:28px;

       a{
            color:@fff;
            padding-bottom:4px;
        }

        a:after{

            content:"";
            width:0;
            height: 1px;
            .abs;
            bottom:0px;
            left:0;
            .bgc(@fff);
            .animate(.4s,all);
        }

       &:hover{
            a:after{.w100}
       }

       @media @mobile{

            .relative;
            top:auto;
            right:auto;
            .center;
        }
    }

    @media @mobile{padding:20px 10px;}
}


/* Link Menu */

.linkMenu {
    cursor: pointer;
}

.link_menu{

    .abs;
    //position: fixed;
    left:22px;
    top: 22px;
    height:18px;
    width: 24px;
    cursor: pointer;
    z-index:3;

    @media @mobile768{left:25px;}

    span {
        .bgc(@blue);
        .block;
        height:2px;
        margin: 0 auto 6px;
        width: 100%;
        .animate(.4s,all);
    }

    &.link_menu_inner{
        top:58px;
        top:14px;
        span{.bgc(#010104)}

        &.active{span{.bgc(@fff)}}
    }

    &.link_menu_fixed{
        position: fixed;
        top:14px;
        //position:fixed;
    }

    &.link_menu_dark{
        span{.bgc(#010104)}
    }

    &.link_menu_light{
        span{.bgc(#fff)}
    }

    &.active{

        width:29px;z-index:10;
        span{

            &.line1{.rotate(45deg);top:8px;}
            &.line2{.rotate(-45deg)}
            &.line3{display:none}
        }
    }
}


/* Inner */

.inner{

    .logo_inner{.block}

    footer{.block}

    .link_menu {
        span{.bgc(#010104)}
    }
}

/* NewletterBar */
.newsletterbar {
  .bgc(@blue);
  width: 100%;
  color:@fff;
  padding: 23px 0 0;

  .wrap_field {
    display: inline-block;
    max-width:472px;
    width:100%;
    margin:0 22px 0 0;
    @media @desktop1366{max-width:445px;}
    @media @mobile640{
      .block;
      margin:22px auto 20px;
    }
  }

  .text_field {
    height:40px;
    .round(3px);
    padding:0 20px;
    .w100;
    .bgc(@fff);
    .fsize(16px);
    font-weight: 400;
    color:@blue;
    border: inherit;
    &.error {
      border: 2px solid @red;
    }
    @media @desktop1366{.fsize(15px);}
  }

  input.button,
  .button {
    display: inline-block;
    width: 130px;
    color: @fff;
    font-weight: 600;
    .fsize(16px);
    border: 1px solid #fff;
    cursor: pointer;
    height: 40px;
    .lheight(40px);
    .bgc(@blue);
    color: @fff;
    &:hover {
      .bgc(@fff);
      color: @blue;
    }
  }

  button.button {
    vertical-align: middle;
    line-height: 30px;
    font-weight: 600;
    font-size: 1rem;
    &.disabled {
      opacity: 0.5;
      font-weight: 400;
      &:hover {
        .bgc(@blue);
        color: @fff;
        cursor: default;
      }
    }
  }

  label {
    &.error {
      float: left;
      background: @red;
      margin-top: 0.5rem;
      padding: 0.5rem;
      border-radius: 3px;
      @media @mobile768{
        margin-bottom: 0.5rem;
      }
    }
  }

  @media @mobile640{padding:1px 20px 0;}
}

.link_to_top{
    .center;
    cursor: pointer;

    .svg_arrow{
        height:20px;
    }

    .arrow_mouse{
       .fit;
    }

    .text{

        font-weight: 500;
        padding-top:5px;
    }

    &.link_to_top_abs{
        .abs;
        bottom:35px;
        left:50%;
        margin-left:-45px;
    }
}

.inner_sections{
    .link_to_top{width:90px;}
}

.white{

    .bgc(@fff)
}


.silver{

    .bgc(#f5f5f5);
}


.gray-section-divider {
    border: none;
    border-bottom: 2px solid #e6e6e6;
    width: 80%;
}

.video-play-button {
  display: block;
  width: 104px;
  height: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -52px 0 0 -52px;
  cursor: pointer;
}

.video-play-outline {
  display: block;
  width: 104px;
  height: 104px;
    background:rgba(255, 255, 255, 0.65);
  border: rgba(255, 255, 255, 0) 4px solid;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  transition:all .5s;
}

.video-play-circle {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  transition: stroke-dashoffset .5s;
}

.video-play-button svg {
  display: block;
  transform: rotate(-90deg);
  transition: transform .3s;
}

.video-play-button:hover .video-play-circle {
  stroke-dashoffset: 0;
}

.video-play-button:active .video-play-outline {
  transform: scale(1.5);
  opacity: 0;
}

.video-play-button:active svg {
  transform: rotate(-90deg) scale(.95);
}