.wrap_nav{

	padding:0 235px 0 235px;
	height: 100%;

	@media @desktop1680{padding:0 130px 0 160px;}
	@media @desktop1440{padding:0 120px;}
	@media @desktop1280{padding:0 70px;}
	@media @mobile{padding:0 20px;}
}

.container_nav {
	.abs;
	bottom:0;
	left:0;
	.box(100%,167px);
	z-index: 5;
	@media @desktop1680{height:120px;.lheight(120px)}
	@media @desktop1024{
		opacity: 1;
		visibility: visible;
	}
	@media @mobile768{line-height:normal}
}

.is-iphone {
	.container_nav {
		height: 180px !important;
	}
}

/* Main Nav */

.main_nav{

	height: 100%;
	background: rgba(0,148,211,0.8);
	.animate(.5s, all, 0s, ease-in-out);

	ul{
		width: 100%;


		.m50 {
			@media @mobile768{
				width:50% !important;
			}
		}



	}

	li{
		float:left;
		width:20%;
		padding:44px 50px 0;
		.border-box;


		@media @desktop1680{padding:0 30px;}
		@media @desktop1280{padding:0 15px;}

		@media @mobile768{
			padding:0 15px 25px;width:33.33333%;
		}

		@media @mobile480{padding:0 5px 25px;}

	}

	.link_nav{

		display: inline;

		@media @mobile768{
			display:block;
			text-align:center;
		}


		color:@fff;
		.fsize(24px);
		cursor:pointer;
		font-weight: 500;
		padding-bottom:10px;

		.active {
			background:red;
			text-decoration:underline;
		}

		&:after{

			content:"";
			.box(20px,5px);
			.abs;
			left:0;
			bottom:-5px;
			.bgc(@fff);
			.animate(.4s,all);

			@media @mobile768{bottom:4px;height:2px;width:0}
		}

		@media @mobile{.fsize(20px);}
		@media @mobile480{.fsize(17px);}
	}
	@media @min1025{

		.link_nav:hover{

			&:after{.w100}
		}
		&:hover{

			background: rgba(0,148,211,0.8);
		}
	}


	&.active{
		z-index: 10;
		&:hover{.bgc(@transp)}
	}

	@media @mobile{background: rgba(0,148,211,0.8)}
	@media @mobile768{padding:25px 0 0 0}
}


.main_pages{

	.main_nav{height:60px;}

	.main_nav ul{

		height:100%;
	}

	.main_nav li{

		display: inline-block;
		width: auto;
		padding: 0
	}
}

/* Nav Detail */

.nav_detail{


	&.rnd_page {
		z-index: 15000;
	}

	.abs;
	position:fixed;
	top:0;
	left:0;
	.fit;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094d4+0,005b90+100 */
	background: @blue; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0, 148, 212, .95) 0%, rgba(0, 91, 144, .95) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 148, 212, .95) 0%,rgba(0, 91, 144, .95) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 148, 212, .95) 0%,rgba(0, 91, 144, .95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0094d4', endColorstr='#005b90',GradientType=0 ); /* IE6-9 */

	color:@fff;
	z-index:11;
	display:none;

	.grid{

		.bgr("line_nav.png", 100%, 0, repeat-y);
	}

	.title{

		.fsize(36px);
		.family(@rl);
		color: white;

		@media @desktop1680{.fsize(30px)}
		@media @desktop1440{.fsize(27px)}
		@media @desktop1280{.fsize(25px)}
		@media @mobile{.fsize(21px)}
		@media @mobile768{.fsize(24px)}
	}

	.descr{

		margin:20px 0 40px;
		.lheight(25px);
		color: white;

		@media @mobile{.fsize(14px);.lheight(21px);}
	}

	.button{

		height:60px;
   		line-height: 60px;

		@media @desktop1366{.fsize(16px);height:55px;line-height: 55px}
		@media @mobile{.fsize(14px)}
		@media @mobile768{width:170px;margin:0 auto}

	}

	&.active{.block;}
}


.close {
  .abs;
  top: 22px;
  right: 22px;
  width: 29px;
  height: 22px;
  cursor: pointer;
  z-index: 3;
  .animate(.4s,all);

  span {
    .bgc(@fff);
    .block;
    .box(100%,2px);
    margin: 0 auto 6px;
    .animate(.4s,all);

    &.line1 {
      .rotate(45deg);
      top: 8px;
    }

    &.line2 {
      .rotate(-45deg)
    }
  }

  &:hover span {
    .bgc(#0f3d5c)
  }
}


/* Header Nav */

.header_nav{

	background: @blue;
	.box(425px,100%);
	//.abs;
	position: fixed;
	left:-425px;
	top:0;
	padding: 140px 0 0 70px;
	display: none;
	z-index: 2;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

	@media @mobile {
		.sub-nav-header {
			text-align: left;
			margin-left: 28%;
		}
	}

	li{
		margin-bottom: 30px;
	}

	.icon-arrow_right{
		cursor: pointer;
		position: absolute;
		top:0px;
		margin-left: 10px;
		.fsize(22px);
		color: #fff;
		.rotate(90deg);
		display: inline-block;
		.animate(0.3s, all);
		&.active{
			.rotate(-90deg);
		}
	}
	.sub-nav-link{
		position: relative;
	}
	.sub-nav{
		margin-top: 10px;
		display: none;
		li{
			padding-bottom: 5px;
			margin-bottom: 6px;
		}
		&.active{
			display: block;
			@media @mobile640 {
				margin-left: 20%;
			}
		}

		@media @mobile640{
			padding: 0;
		}
	}

	.link{
		color:@fff;
		.fsize(18px);
		font-weight: 500;
		padding-bottom:10px;

		&:after{

			content:"";
			.box(0px,2px);
			.abs;
			left:0;
			bottom:0px;
			.bgc(@fff);
			.animate(.4s,all);
		}
        
        .menu_icon {
            width:20px;
            height:17px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            margin-right:9px;
            display:inline-block;
            position:relative;
            top:2px;
        }
	}
	link.active{
		&:after{.w100}
	}
	@media @min1025{
		.link:hover{
			&:after{.w100}
		}
	}
	@media @desktop1680{

		padding-top:120px;
		li{margin-bottom: 30px}
	}

	@media @desktop1440{

		.box(325px,100%);
		padding-top:95px;
		li{margin-bottom: 25px }
		.link{padding-bottom:7px;}
		left:-325px;
	}

	@media @mobile640{
		overflow: scroll;
		width:100%;
		right:0;
		left:auto;
		padding:70px 0 0 0;
		.center;
		.link{padding-bottom:8px;}
	}
}

/* Left Nav */

.left_nav{

	position: fixed;
	top:50%;
	right:40px;
	width: 45px;
	display:none;

	.link{
		cursor: pointer;
		padding: 6px 0;
	}

	.line{

		.abs;
		top:5px;
		right:0;
		.box(15px,2px);
		.bgc(#000);
		.animate(.4s,all);
	}

	.link:hover, .link.active{

		.line{.w100;}
	}

	@media @mobile{
		display:none
	}
}


/* MainNav Inner */

.main_nav_inner_wrap{

	background: @blue;
	height: 45px;
	.lheight(45px);
	.abs;
	top:0;
	left:0;
	.w100;
	z-index: 50;
}

.main_nav_inner{

	.fit;
	.center;
	max-width: 965px;
	margin:0 auto;

	@media @desktop1280{max-width:845px;}
	@media @mobile{max-width:565px}

	li{
		display: inline;
		margin-right:153px;

		@media @desktop1280{margin-right:123px;}
		@media @mobile{margin-right:53px;}
		@media @mobile640{margin-right:28px;}
		@media @mobile480{margin-right:10px;}
		&.lastli{margin-right:0;}

	}

	.link_nav{

		display: inline;
		color:@fff;
		font-weight: 500;
		.round(3px);
		.animate(.4s,all);

		&:after{

			content:"";
			.box(20px,2px);
			.abs;
			left:2px;
			top:9px;
			opacity:0;
			.bgc(@fff);
			.animate(.4s,all);
			@media @mobile{.box(15px,2px);}
			@media @mobile640{.box(10px,2px);top:7px;}
			@media @mobile480{.box(6px,1px)}
		}

		@media @mobile640{.fsize(14px)}
		@media @mobile480{.fsize(14px)}
	}

	.link_nav:hover,.link_nav.active{

		&:after{
			left:-29px;opacity: 1;
			@media @mobile{left:-20px;}
			@media @mobile640{left:-16px;}
			@media @mobile480{left:-7px;}
		}
	}
}

/* Sub Nav */

.sub_nav_wrap{

	background:white;
	height:45px;
	.abs;
	/* top:45px; */
	left:0;
	.w100;
	z-index: 50;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

	//@media @mobile{padding:0 35px 0 80px;}
	@media @mobile760{padding:0 25px 0 70px}

	&:after{
		content:"";
		.abs;
		top:100%;
		left:0;
		.w100;
		height:1px;
		.bgc(#D6D6D6);
		opacity: 0;
	}

	&.fixed{

		position: fixed;
		top:0;
		&:after{opacity:0}
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	}
}

.wrap_subnav_inner{

	max-width: 1065px;
	width: 100%;
	margin:0 auto;

	@media @desktop1280{max-width:945px;}
	@media @mobile{max-width:565px}

	.title_section{

		.small {
			font-size: 9pt;
		}

		float:left;
		color:@dark_silver;
		.fsize(14px);
		font-weight: 600;
        margin-left:15px;
		.lheight(45px);
		@media @desktop1280{width:auto;.fsize(14px);}
		@media @mobile{width:auto}
		@media @mobile480{.fsize(14px)}
		//@media @mobile768{.fsize(14px);width:87px;}
		//@media @mobile760{width:110px;.lheight(43px)}
	}
}

.sub_nav{

	height:100%;
	float:right;
	.relative;

	li{
		display: inline-block;
		margin-left:-2px;
		padding:0 16px;

		@media @desktop1280{margin-left:-3px;padding:0 9px;}
		@media @mobile{
			padding:0 7px;
			&.name_section{.pull-left}
			&:last-child{.pull-right;.link_nav{top:7px;}}
			&.hidden_li{display: none}
		}

		&:last-child{padding:0};
	}


	.link_nav{

		display: inline;
		color:@dark_silver;
		.fsize(14px);
		cursor:pointer;
		font-weight: 500;
		.lheight(45px);
		//padding:0 16px;

		&:after {
		    content: "";
		    width:100%;
		    height:1px;
			.abs;
		    bottom:-2px;
		    left: 0px;
		    .bgc(#000);
		    opacity: 0;
		    .animate(.5s,all);
		}

		&:hover{
			 &:after{opacity:1;}
		}

		&.active {
			&:after{opacity:1;}
		}

		@media @mobile{.fsize(14px)}
	}

	.link_nav.buyticket{

		.block;
		.bgc(#ea5c37);
//		border:1px solid #ea5c37;
		color:@fff;
//		.round(3px);
        position:relative;
        top:1px;
        border-radius:4px;
		line-height:30px;
		padding:0 16px;
		.animate(.2s,all);
        &:after{opacity:0 !important}    

		&:hover{
			.bgc(rgb(237, 127, 105));
//			color:#ea5c37;
			&:after{opacity:0 !important}
            text-decoration: none;
		}

		@media @desktop1280{padding:0 16px;}
		@media @mobile{padding:0 16px;}
	}

	&.sub_nav_noelem{

		max-width:980px;
		margin: 0 auto;

		li.name_section{.pull-left}
		li.btn{
			.pull-right;
			.link_nav{top:6px;}
		}

		@media @desktop1280{max-width:838px;}
		@media @mobile{max-width:none}
	}
}

.back_link{
	font-weight: 500;
	.fsize(16px);
}
