/* Basic Classes */

.content_section{

	.fit;
	.abs;
	top:0;
	left:0;

	@media @min1920{min-height:500px;}
	@media @desktop1366{min-height:500px;}
	@media @desktop1280{min-height:400px;}

	.category-section-title {
		h1 {
			color:white;
			font-size: 11rem;
			font-family: "Raleway", sans-serif;
    	font-style: normal;
    	font-weight: bold;
			text-align: center;
			margin: 0 auto;
			text-transform: uppercase;

			@media @min2580{font-size: 16rem;}
			@media @min1920{font-size: 14rem;}
			@media @desktop1366{font-size: 8rem;}
			@media @mobile768{font-size: 4rem;}

		}

		.sub_line {
					color:white !important;
		}
	}


	.sub_line {
		font-size: 18px;
		font-weight: bold;
	}


	.down_sub_title {
		color:@dark_silver;
		.fsize(17px);
		.lheight(20px);
		font-weight:bold;
		margin-top: 30px;
		margin-bottom: 30px;
		.family(@rl);
	}

}
.section-during_event {
    background: url('/src/images/2016/welcome_hero.jpg') center center;
    background-size:cover;
    width:100%; 
    overflow:hidden; 
    padding-bottom:50px;
    
    .container{
        max-width:1500px !important;
    }
    .facebookLiveVideo {
        border:none;
        overflow:hidden; 
        width:100%;
        height:60vh;
        
        @media @mobile640{
            height:240px;
            margin-bottom:50px;
        }
    }
}
.section-tweets {
    background: url('/src/images/2016/welcome_hero.jpg') center center;
    background-size:cover;
    width:100%; 
    overflow:hidden; 
    padding-bottom:50px;
    
    .container{
        max-width:1500px !important;
    }
}
.section-spacey {
    background: url('/src/images/2016/spacey_section_hero_1.jpg?v=1.0') left top; 
    background-size:cover;
    width:100%; 
    overflow:hidden; 
    padding-bottom:50px;
    padding:130px 0 270px 0;
    
    .Concept-SubTitle {
        font-size:~"calc(12px + .6vw)";
    }
    
    .container{
        max-width:1500px !important;
    }
    
    @media @mobile940 {
        padding:300px 0 50px 0; 
        
        .Concept-SubTitle{
            width:100% !important;
            text-align: left !important;
        }
    }
    @media @mobile480 {
        padding:250px 0 30px 0; 
        .Concept-SubTitle{
            text-align: left !important;
            font-size:12px;
        }
    }
}
.section-branson {
    background: url('/src/images/2016/branson-hero_section.jpg') right top; 
    background-size:cover;
    width:100%; 
    overflow:hidden; 
    padding:125px 0 275px 0; 
    
    .Concept-SubTitle{
        text-align: left;
    }
    
    
    @media @mobile940 {
        padding:0 0 300px 0; 
        border-top:50px solid black;
        
        
        .Concept-SubTitle{
            width:100% !important;
            text-align: left !important;
        }
    }
    @media @mobile480 {
        padding:0 0 200px 0; 
        .Concept-SubTitle{
            text-align: left !important;
            font-size:10px;
        }
    }
    .container{
        max-width:1500px !important;
    }
}
.blue_gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094d4+0,005690+100&0.64+0,0.67+100 */
background: -moz-linear-gradient(top,  rgba(0,148,212,0.60) 0%, rgba(0,91,144,0.95) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,148,212,0.60) 0%,rgba(0,91,144,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,148,212,0.60) 0%,rgba(0,91,144,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a30094d4', endColorstr='#ab005690',GradientType=0 ); /* IE6-9 */
}
.content_inner{
	padding:105px 100px 0;
	height: 100%;
	.ov-hidden;
}

.section{
	.content_section;
	display: block;
}

.section_block{
	display: block;
	height: 100vh;
	position: relative;
}
.section_home{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.main_title{

	color:@blue;
	.family(@rl);
	font-weight: 500;
}

.sub_title{

	.fsize(30px);
	.lheight(38px);
	color:@dark_silver;
	.family(@rl);
	font-weight: 500;
}

.top_title{

	color:@fff;
	.family(@rl);
	font-weight:700;
	.fsize(107px);
	.lheight(127px);
	margin-bottom:30px;
	text-transform: uppercase;

	@media @desktop1680{.fsize(107px);.lheight(127px);}
	@media @desktop1366{.fsize(107px);.lheight(127px);}
	@media @desktop1280{.fsize(95px);.lheight(113px);}
	@media @mobile{.fsize(73px);.lheight(90px);}
	@media @mobile640{.fsize(57px);.lheight(71px);}
	@media @mobile480{.fsize(35px);.lheight(64px);}
}


.inner_sections{

	.w100;

	.main_title{

		.fsize(42px);
		.lheight(47px);
		margin-bottom:17px;

		&.no-sub-title {
			margin-bottom: 30px;
		}

		@media @desktop1680{
			.fsize(36px);
			.lheight(41px);
		}

		@media @desktop1440{
			.fsize(32px);
			.lheight(39px);
		}

		@media @desktop1366{
			.fsize(30px);
			.lheight(36px);
		}

		@media @desktop1024{
			.fsize(24px);
			.lheight(32px);
		}

		@media @mobile768{
			.fsize(22px);
			.lheight(30px);
			margin-top: 2rem;
		}
	}

	.descr{

		color:@7a;
		.lheight(27px);
		margin-bottom:60px;

		&.descr_small_margin{margin-bottom:10px;}

		@media @desktop1366{
			//.fsize(15px);
		}

		@media @mobile480{
			.fsize(15px);
		}
	}

	.scroll_arrow{
		margin-top:15px;
		height:41px;
		@media @desktop1366{height:35px;}
	}

	.arrow_mouse{
		width:100%;
		height:100%;
	}

	.arrow_mouse path{
        fill:#353535;
    }
}



.button{

    width:100%;
    height:55px;
    line-height:55px;
    .block;
    .center;
    .round(3px);
    .animate(.05s,all);

    span{
    	z-index: 10;
    }

	&.button-orange{
		color:@fff;
		.bgc(#ea5c37);
    	.fsize(16px);
        border-radius:4px;
		&.default {
	    	height: 45px !important;
	    	line-height: 45px !important;
	    	text-transform: none !important;
    	}
		&:hover{
            .bgc(rgb(237, 127, 105));}
		@media @mobile{.fsize(14px)}
        .animate(.2s,all);
	}
    &.button-blue{
        color:white;
		.bgc(#2795d7);
    	.fsize(16px);
        border-radius:4px;
		&.default {
	    	height: 45px !important;
	    	line-height: 45px !important;
	    	text-transform: none !important;
    	}
		&:hover{
            .bgc(#36aef5);
        }
		@media @mobile{.fsize(14px)}
        .animate(.2s,all);
	}
    
    &.button-small {
        width:100%;
        height:34px;
        line-height:35px;
        .block;
        .center;
        .round(3px);
        .animate(.2s,all);
    }

	&:hover{
		 &:after{width:100%}
	}
    letter-spacing: .03em;
}

.button_box{
	width: 208px;
	margin-top:35px;

	&.button_box_auto{margin:0 auto;}

	&.button_box_orange{
		width:454px;
		@media @mobile640{width:auto;max-width:254px;}
	}
}

.big_img{

	.fit;
	.ov-hidden;

	img{
		.w100;
		.abs;
		top:50%;
		left:50%;
		min-height: 100%;
		min-width: 100%;
		.xy(-50%,-50%);
	}
}

.top_img{

	.fit;
	.abs;
	top:0;
	left:0;

	img{.abs;top:0;left:0;}
}

.img_box{

	.fit;
	.ov-hidden;
}
.img_wrapper-zoom {
    width:33.333%; 
    border:1px solid white;
    float:left;
    -webkit-user-select: none;
    overflow:hidden;
    img {
        width:100%;
        transition: all .6s ease-in-out; 
        -webkit-user-select: none;
        &:hover{
            transform: scale(1.03);
        }
    }
}
.link_box{

	.link{
		color:#2795d7;
		padding:0 11px 3px 0;

		&:after {
		    content: "";
		    width:100%;
		    height:1px;
			.abs;
		    bottom: 0px;
		    left: 0px;
		    .bgc(#2795d7);
		    opacity: 0;
		    .animate(.4s,all);
		}

		.icon{
			.abs;
			top:3px;
			right:-5px;
		}

		&:hover{

			 &:after{opacity: 1;}
		}

		&.link_no_icon{
			padding-right:0;
			font-weight: 600;
			.fsize(16px);
		}
	}

	&.link_box_mt{margin-top:60px}

	@media @desktop1366{.fsize(17px)}
}

.inner_sections{

	.link_box{display: inline-block;margin-left:5px;}
	&.link_box_mt{margin-top:0}
}


.conteiner{

	.w100;
	.ov-hidden;
}
