.students-in-tech-page {

	.students-in-tech {
		height:auto;
	}

	.section_wbox {
		&.students-in-tech {
			.bgr('header_women_in_tech.jpg', center, center, no-repeat, #030104);
			background-size:cover;
			@media @mobile768{.bgr('header_women_in_tech_mob.jpg',top, center, no-repeat, #030104);}	
		}
	}
}
