/* Success section */

.inner_video_section_wrapper {

	.main_title{
			//opacity: 0;
	    	//visibility: hidden;
			.fsize(78px);
			.lheight(78px);
			font-weight: 700;
			color:@f3;
			color:#fff;
			margin:70px 0 35px;

			@media @desktop1680{
				//margin-top:145px;
				.fsize(64px);
				.lheight(64px);
			}

			@media @desktop1366{
				//margin-top:125px;
				.fsize(52px);
				.lheight(52px);
			}

			@media @desktop1024{
				opacity: 1;
				visibility: visible;
			}

			@media @mobile{
				margin:50px 0 25px;
				.fsize(48px);
				.lheight(48px);
			}

			@media @mobile768{
				.fsize(39px);
				.lheight(43px);
			}

			@media @mobile640{
				.fsize(35px);
				.lheight(39px);
				margin:15px 0;
			}
		}

		.sub_title{
	    	//opacity: 0;
	    	//visibility: hidden;
			.fsize(36px);
			.lheight(38px);
			color:@ce;
			.upper;

			@media @desktop1680{.fsize(30px);.lheight(32px);}
			@media @desktop1366{.fsize(24px)}
			@media @desktop1024{
				opacity: 1;
				visibility: visible;
			}
			@media @mobile{color:@fff;}
			@media @mobile768{.fsize(20px)}
			@media @mobile640{.fsize(17px);.lheight(25px);}
		}
}