/* Video */
.section_video {
	@media @mobile {
		overflow: hidden;
	}
	@media @mobile480 {
		min-height: 480px;
	}
	@media @mobile480_h {
		min-height: 480px;
	}
	.video_home_wrap {
		position: absolute;
		top: 0;
		left: 0;
    overflow: hidden;
		min-height: 100%;
		max-width: 100%;

		@media @mobile {
			display: none;
		}
		@media @min1920 {
			width: 100%;
		}
		.video_player {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.layer-video {
			background: #005690;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			left: 0;
			z-index: 20; 
		}
	}
}
&.layer-video {
	background: rgba(0,0,0,0.45);
}
.preload_wrapper {
	color: #fff;
	position: absolute;
	z-index: 1;
	//opacity: 0.95;
//	background-color: @blue;
//    .bgr('startup_wbox_img_2.jpg', center, center)

	.video-preloader {
	  position: relative;
		top: 1%;
		text-align: center;
		img {
			width: 4%;
		}
	}
}

/*
.video_home {
	background: #000;
	height: 100%;
	overflow-x:hidden;
	position: relative;
	display: block;

	@media @mobile{
		width: 100%;
		height: 100%;
		left:0;
	}
	@media @desktop1024{
		left:-25%;
		width: 150%;
		height: 100vh;
	}
	@media @desktop1280{
		left:-50%;
	}
	@media @min1920{
		width: 100%;
	}
}
*/


.on-video-content {
	z-index: 9999;
	.arrow-bottom-wrap {
		position:  fixed;
		bottom: 20px;
		left:calc(49%);
	}
}
