// ==========================================================================
// Footer Section
// ==========================================================================


// Mobile First!
#footer {
  background-color: #ffffff;

  &.section {
    padding: 20px 0;
  }

  p {
    color: $light-grey;
    margin-bottom: 20px;
  }

  ul {
    line-height: 2em;
    text-align: center;

    li {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      border-bottom: 1px solid rgba($color-link, .5);
      margin-bottom: 8px;
      padding-bottom: 8px;
    }

    &:nth-child(2) {
      li {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  #footer {
    ul {
      display: inline-block;
      margin-bottom: 0;
      width: auto;

      &:nth-child(1) {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      &:nth-child(2) {
        float: right;
      }
    }
  }
}
